body {
  /*background-color: #C7EAFE !important;*/
  background: linear-gradient(-45deg, #33CEFF, #ABF5FA);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.location {
  padding: 50px;
  text-align: center;
}
.city, .currentTemperature {
  font-weight: 600;
}
.country {
  font-weight: 300;
}
.container {
  margin: 50px;
}
.search {
  position: relative;
  float: right;
}
.card {
  display: block;
  margin: 0 auto;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.4) !important;
  border: 0px solid !important;
  /*border-color: #c5dafc;*/
  border-radius: 25px !important;
  margin-bottom: 50px;
}
.cardTitle {
  width: 800px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}
.weatherIcon {
    display: block;
    margin: 0 auto;
}
.currentTemperature {
  padding: 15px;
  margin: 0;
}
#weatherSummary {
  text-align: center;
  padding: 50px;
}
#hourlyForecast {
  padding: 50px;
}
#nextFiveDays {
  padding: 50px;
}
.hour {
  text-align: center;
}
.temp {
  text-align: right;
}
hr {
  width: 800px;
  border: 2px solid #e5f1ec;
  background-color: #e5f1ec;
}
.footer {
  text-align: center;
  padding: 50px;
}
.vertical {
    border-left: 1px solid black;
    height: 175px;
    position: absolute;
    left: 50%;
}
ul {
  list-style: none;
}